* {
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: monospace;
    text-wrap: nowrap;
    color: rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
}

/* Body styles */

body {
    width: 97vw;
    min-height: 120vh;
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
    align-items: center;
}

/* Header styles */

header {
    padding-bottom: 1.3vh;
    margin-top: 1.3vh;
    outline: yellowgreen solid 1.5vh;
}

/* Section styles */

section {
    height: 40vh;
    width: 90vw;
    min-width: 250px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15vh;
    padding-bottom: 1vh ;
    outline:rgb(116, 205, 0) double 1.5vh;
    
}

/* h1 styles */

h1 {
    font-size: 15vmin;
}

/* h2 styles */

h2 {
    font-size: 10vmin;
}

/* h3 styles */

h3 {
    font-size: 8vmin;
    margin-top: 20%;
    margin-bottom: 20%;
    box-sizing:content-box;
}

/* p styles */

p{
    font-size: 15vmin;
    font-weight: 900;
}

/* Boxes styles */

.Box {
    width: 30%;
    height: 40%;
    margin: auto;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 5px 3px black;
    border-radius: 1.5vmin;
    background-color: rgb(0, 154, 99);
    transition: 0.4s;
}
.Box:hover{
    filter: brightness(+0.5);
    h3{
        color: white;
    }
}
.Box-2{
    background-color: rgb(112, 130, 97);
}

#But-1{
    margin-top: 10vh;
    background-color: #8af986;
    width: max-content;
    height: max-content;
    text-align: center;
    outline: solid 4px black;
    transition: .3s;
}
#But-1:hover{
    filter: brightness(+0.8);
}

footer{
    margin-top: 5vh;
    align-items: center;
}

::-webkit-scrollbar {
    width: .5vmin;
  }
  
::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #1414845e;
    border-radius: .5vmin;
  }
  
::-webkit-scrollbar-thumb {
    border-radius: .5vmin;
    background: linear-gradient(180deg, #00fb8a, #2b0129);
  }